@font-face {
  font-family: 'Poppins';
  src: url('./static/font/POPPINS-BOLD.TTF');
  font-style: bold;
  font-weight: 600;
}
@font-face {
  font-family: 'Poppins';
  src: url('./static/font/POPPINS-MEDIUMITALIC.TTF');
  font-style: italic;
  font-weight: 600;
  font-weight: normal;
  
}
@font-face {
  font-family: 'Poppins';
  src: url('./static/font/POPPINS-THIN.TTF');
  font-style: thin;
  font-weight: 200;
  font-weight: thin;
}
@font-face {
  font-family: 'Poppins';
  src: url('./static/font/POPPINS-MEDIUM.TTF');
  font-style: normal;
  font-weight: 400;
  font-weight: normal;
}

::-webkit-scrollbar{
  display: none;
}
html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  color: #fff;
}
#root{
  position:fixed, 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
